.root {
  .list {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: 1px solid black;
    .item {
      width: 32%;
      background-color: #ffffff;
      margin: 5px;
      border: 1px solid #c7c8ca;
      user-select: none;
    }
    .moveItem {
      background-color: #2e2d2d;
    }
    .overItem {
      border: 1px solid #6ac0e7;
    }
    .copyItem {
      background-color: #bbb6b6;
      position: fixed;
    }
  }
}